html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

input,
button {
  outline: none;
  border: 0px solid;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}
